<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tender.by</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand m-3" href="/app"> Tender.by</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/search"> Поиск</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"> Тарифы</a>
            </li>
        </ul>
        <a class="btn btn-secondary btn-sm m-3" href="/login" role="button">Войти</a>
    </div>
</nav>
<div class="row m-4">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Шаг 1</h5>
                <p> Зарегистрироваться или войти в личный кабинет на площадке</p>
                <p>
                    <a href="/regOrganization" class="btn btn-info btn-sm" role="button">Зарегистрироваться за 5 минут</a>
                    <a href="/login" class="btn btn-info btn-sm" role="button">Войти</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Шаг 2</h5>
                <p>Выбрать интересующий тендер</p>
            </div>
        </div>
    </div>
</div>
<div class="row m-4">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Шаг 3</h5>
                <p>Отправить заявку на участие в тендере</p>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Шаг 4</h5>
                <p>Ознакомиться с итогами организатора</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>