<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Tender</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>

</head>
<body>
<div th:fragment="pages">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <p class="navbar-brand m-3"> Tender.by</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/search"> Поиск</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> Тарифы</a>
                </li>
            </ul>
            <p th:text="${user.organization.shortName}"></p> &nbsp;
            <p th:text="${user.lastName}"></p> &nbsp;
            <p th:text="${user.name}"></p>
            <a class="btn btn-primary m-3" href="/homePage" role="button">Личный кабиент</a>
            <a class="btn btn-secondary btn-sm m-3" href="/login" role="button">Выход</a>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row" style="margin-top: 25px">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3> Создать ноовый тендер </h3>
                </div>
                <div class="card-text">
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <form method="POST"
                              action="#"
                              th:action="@{/createTender}"
                              th:object="${createTenderDto}">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="subject">Предмет закупки</label>
                                <div class="col-sm-3">
                                    <input class="col-form-label form-control" id="subject" name="subject"
                                           th:field="*{subject}">
                                </div>
                                <div class="col-sm-6">
                                    <p th:if="${#fields.hasErrors('subject')}" style="color: red">Поле не может быть
                                        пустым</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="shortDescription">Краткое описание</label>
                                <div class="col-sm-3">
                                    <input class="col-form-label form-control" type="shortDescription"
                                           id="shortDescription"
                                           th:filed="*{shortDescription}" name="shortDescription"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="unitOfMeasurement">Единица измерения</label>
                                <div class="col-sm-3">
                                    <input class="col-form-label form-control" id="unitOfMeasurement"
                                           name="unitOfMeasurement"
                                           th:field="*{unitOfMeasurement}">
                                </div>
                                <div class="col-sm-6">
                                    <p th:if="${#fields.hasErrors('unitOfMeasurement')}" style="color: red">Поле не
                                        может быть
                                        пустым</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="amount">Количество</label>
                                <div class="col-sm-3">
                                    <input class="col-form-label form-control" id="amount"
                                           name="unitOfMeasurement"
                                           th:field="*{amount}">
                                </div>
                                <div class="col-sm-6">
                                    <p th:if="${#fields.hasErrors('amount')}" style="color: red">Поле не
                                        может быть
                                        пустым</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="valuta">Вид валюты</label>
                                <div class="col-sm-3">
                                    <select class="form-select" id="valuta" th:filed="*{valuta}" name="valuta">
                                        <option selected></option>
                                        <option value="Belarusian ruble (BYN)">Белорусский рубль (BYN)</option>
                                        <option value="US dollar (USD)">Доллар США (USD)</option>
                                        <option value="Russian ruble (RUB)">Российский рубль (RUB)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="unitPrice">Цена за единицу</label>
                                <div class="col-sm-3">
                                    <input class="col-form-label form-control" id="unitPrice"
                                           name="unitOfMeasurement"
                                           th:field="*{unitPrice}">
                                </div>
                                <div class="col-sm-6">
                                    <p th:if="${#fields.hasErrors('unitPrice')}" style="color: red">Поле не
                                        может быть
                                        пустым</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="totalCost">Общая стоимсть</label>
                                <div class="col-sm-3">
                                    <input class="col-form-label form-control" id="totalCost"
                                           name="unitOfMeasurement"
                                           th:field="*{totalCost}">
                                </div>
                                <div class="col-sm-6">
                                    <p th:if="${#fields.hasErrors('totalCost')}" style="color: red">Поле не
                                        может быть
                                        пустым</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="termsOfPayment">Условия оплаты</label>
                                <div class="col-sm-3">
                                    <input class="col-form-label form-control" id="termsOfPayment"
                                           th:filed="*{termsOfPayment}"
                                           name="termsOfPayment">
                                </div>
                                <div class="col-sm-6">
                                    <p th:if="${#fields.hasErrors('termsOfPayment')}" style="color: red">Поле не может
                                        быть пустым</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="deliveryConditions">Условия
                                    поставки</label>
                                <div class="col-sm-3">
                                    <input class="col-form-label form-control" id="deliveryConditions"
                                           th:filed="*{deliveryConditions}" name="deliveryConditions">
                                </div>
                                <div class="col-sm-6">
                                    <p th:if="${#fields.hasErrors('deliveryConditions')}" style="color: red">Поле не
                                        может быть
                                        пустым</p>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Создать</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>