<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <title>Tender.by</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <p class="navbar-brand m-3"> Tender.by</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/search"> Поиск</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> Тарифы</a>
                </li>
            </ul>
            <div sec:authentication="principal.getUsername()"></div>

        </div>
            <a class="btn btn-primary m-3" href="/homePage" role="button">Личный кабиент</a>
            <a class="btn btn-secondary btn-sm m-3" href="/login" role="button">Выход</a>
        </div>
    </nav>

    <div class="row m-4">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Личный профиль</h5>
                    <a class="btn btn-primary" href="/personal" role="button">Личные данные пользователя</a>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Профиль организации</h5>
                    <a class="btn btn-primary" href="/organization" role="button">Общая информация об организации</a>
                    <a class="btn btn-primary" href="/users" role="button">Пользователи организации</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Проведенние закупок и продаж</h5>
                    <a class="btn btn-primary" href="/myTenders" role="button">Мои закупки</a>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Участие в закупках и продажах</h5>
                    <a class="btn btn-primary" href="/myApplications" role="button">Участия в закупках</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
