<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" >
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link href="/styles/login.css" rel="stylesheet"/>
</head>
<body>
<div class="container_header" style="max-width: 1500px; margin-right: auto; margin-left: auto">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/app" style="color: #3D417B; margin: 0; padding-right: 20px"> HPTender.by</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: #606060" href="/search"> Поиск</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: #606060" href="/rates"> Тарифы</a>
                </li>
            </ul>
            <a href="/regOrganization" style="color: white; margin: 10px 0; background-color: #3D417B;
            padding: 10px 20px;" role="button" class="btn">Зарегистрироваться</a>
        </div>
    </nav>
</div>
<div class="container">
    <div class="contents">
        <div class="login_inputs">
            <div class="login_inputs_center">
                <h4 class="login_title">Вход в личный кабинет</h4>
                <div class="form">
                    <form method="POST" action="#" th:action="@{/login}" th:object="${userDto}">
                        <div th:if="${param.error}">
                            <div class="alert">
                                <span>Невернный логин и пароль</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label" for="username">Логин</label>
                            <div class="input_wrapper">
                                <input class="input" id="username" th:filed="*{username}" name="username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label" for="password">Пароль</label>
                            <div class="input_wrapper">
                                <input class="input" type="password"
                                       id="password" th:filed="*{password}" name="password">
                            </div>
                        </div>
                        <button type="submit" class="btn_login">Войти</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="login_info">
            <div class="img_login"></div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer.html :: footer"/>
</body>
</html>

