<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <title>Organization</title>

    <meta charset="UTF-8">

</head>
<body>
<div th:insert="fragments/header.html :: header"/>
<div class="container">
    <div class="row" style="margin-top: 25px">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Общая информация об организации</h3>
                </div>
                <div class="card-text">
                    <table class="table">
                        <tr>
                            <th>УНП</th>
                            <th>Полное наименование</th>
                            <th>Краткое наименование</th>
                            <th>Юридический адрес</th>
                            <th>Фактический адрес</th>
                        </tr>
                        <tbody>
                        <tr>
                            <td>
                                <div sec:authentication="principal.organization.unp"></div>
                            </td>
                            <td>
                                <div sec:authentication="principal.organization.fullName"></div>
                            </td>
                            <td>
                                <div sec:authentication="principal.organization.shortName"></div>
                            </td>
                            <td>
                                <div sec:authentication="principal.organization.legalAddress"></div>
                            </td>
                            <td>
                                <div sec:authentication="principal.organization.actualAddress"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer.html :: footer"/>
</body>
</html>