<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <title>Personal</title>
    <meta charset="UTF-8">

    <link href="/styles/personal.css" rel="stylesheet"/>

</head>
<body>
<div th:insert="fragments/header.html :: header"/>
<main>
    <section class="sections_list_first">
        <div class="container_list">
            <div class="section_card">
                <div class="section_list_text_wrapper">
                    <h4 class="sections_list_title">Данные пользователя</h4>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="text_first">
                                Логин
                            </td>
                            <td>
                                <div class="text" sec:authentication="principal.username"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_first">
                                Фамилия
                            </td>
                            <td>
                                <div class="text" sec:authentication="principal.lastName"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_first">
                                Отчество
                            </td>
                            <td>
                                <div class="text" sec:authentication="principal.patronymic"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_first">
                                Почта
                            </td>
                            <td>
                                <div class="text" sec:authentication="principal.email"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_first">
                                Телефон
                            </td>
                            <td>
                                <div class="text" sec:authentication="principal.phone"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
<div th:insert="fragments/footer.html :: footer"/>
</body>
</html>