<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand m-3" href="#"> Tender.by</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"> Тарифы</a>
            </li>
        </ul>
        <a class="btn btn-outline-primary m-3" href="/login" role="button">Войти</a>
    </div>
</nav>
<div class="container">
    <div class="row" style="margin-top: 25px">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Регистрация на электронной торговой площадке Tender.by </h3>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h3>Организация</h3>
                    </div>
                    <div class="card-text">
                        <form method="POST"
                              action="#"
                              th:action="@{/regOrganization}"
                              th:object="${createOrganizationDto}">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="unp">УНП</label>
                                <div class="col-sm-3">
                                    <input class="col-form-label form-control" id="unp" th:field="*{unp}"
                                           placeholder="УНП">
                                </div>
                                <div class="col-sm-6">
                                    <p th:if="${#fields.hasErrors('unp')}" style="color: red">Поле не может быть
                                        пустым</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="fullName">Полное наименование</label>
                                <div class="col-sm-3">
                                    <input class="col-form-label form-control" id="fullName"
                                           th:filed="*{fullName}" name="fullName" placeholder="Полное наименование">
                                </div>
                                <div class="col-sm-6">
                                    <p th:if="${#fields.hasErrors('fullName')}" style="color: red">Поле не может быть
                                        пустым</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="shortName">Краткое наименование</label>
                                <div class="col-sm-3">
                                    <input class="col-form-label form-control" id="shortName" th:filed="*{shortName}"
                                           name="shortName" placeholder="Краткое наименование">
                                </div>
                                <div class="col-sm-6">
                                    <p th:if="${#fields.hasErrors('shortName')}" style="color: red">Поле не может быть
                                        пустым</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="legalAddress">Юридический адрес</label>
                                <div class="col-sm-3">
                                    <input class="col-form-label form-control" id="legalAddress"
                                           th:filed="*{legalAddress}"
                                           name="legalAddress" placeholder="Юридический адрес">
                                </div>
                                <div class="col-sm-6">
                                    <p th:if="${#fields.hasErrors('legalAddress')}" style="color: red">Поле не может
                                        быть
                                        пустым</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="actualAddress">Фактический адрес</label>
                                <div class="col-sm-3">
                                    <input class="col-form-label form-control" id="actualAddress"
                                           th:filed="*{actualAddress}"
                                           name="actualAddress" placeholder="Фактический адрес">
                                </div>
                                <div class="col-sm-6">
                                    <p th:if="${#fields.hasErrors('actualAddress')}" style="color: red">Поле не может
                                        быть пустым</p>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Продолжить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
