<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Tender</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link href="/styles/tender.css" rel="stylesheet"/>

</head>
<body>
<div th:insert="fragments/header.html :: header"/>
<div class="container">
    <div class="row" style="margin-top: 25px">
        <h2> № <span th:text="${tender.id}"></span></h2>
        <h3><span th:text="${tender.subject}"></span></h3>

        <div th:if="${!tender.status}">
            <div th:if="${tender.statusWithoutWinner}">
                <h5>На усмотрение организатора тендер завершен без выбра победителя</h5>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="card-title"></div>
                <div class="card-text">
                    <table class="table table-bordered table-striped">
                        <tbody>
                        <tr>
                            <td>Краткое описание</td>
                            <td>
                                <span th:text="${tender.shortDescription}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Организатор</td>
                            <td>
                                <span th:text="${tender.organizationTenders.shortName}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Единицы измерения</td>
                            <td>
                                <span th:text="${tender.unitOfMeasurement}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Количество единиц</td>
                            <td>
                                <span th:text="${tender.amount}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Цена за единицу</td>
                            <td>
                                <span th:text="${tender.unitPrice}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Общая стоимость закупки</td>
                            <td>
                                <span th:text="${tender.totalCost}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Вид валюты</td>
                            <td>
                                <span th:text="${tender.valuta}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Условия дставки</td>
                            <td>
                                <span th:text="${tender.deliveryConditions}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Условия оплаты</td>
                            <td>
                                <span th:text="${tender.termsOfPayment}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Комментарии</td>
                            <td>
                                <span th:text="${tender.comments}"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                        <div th:if="${#authentication.principal.organization.id != tender.organizationTenders.id}">
                            <div th:if="${tender.status}">
                                <form th:method="get"
                                      action="#"
                                      th:action="@{'/createApplication/{tenderId}'(tenderId=${tender.id})}">
                                    <button sec:authorize="hasAnyRole('mainUser','user')" type="submit"
                                            class="btn btn-primary" name="button">Подать заявку</button>
                                </form>
                            </div>
                            <div th:if="${tender.status and #authentication.principal.organization.id == applicationTender.organizationApplication.id and tender.withdrawalOfApplication.contentEquals('yes')}" th:each="applicationTender: ${applications}">
                                <div>
                                    <form th:method="delete"
                                          action="#"
                                          th:action="@{'/myApplications/{applictioId}/{tenderId}'
                                          (applictioId=${applicationTender.id},tenderId=${tender.id})}">
                                        <button type="submit" class="btn btn-primary" name="button">Отозвать заявку
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <div th:unless="${#authentication.principal.organization.id != tender.organizationTenders.id}">
                        <div th:if="${tender.status}">
                            <form th:method="get"
                                  action="#"
                                  th:action="@{'/considerApplications/{tenderId}'(tenderId=${tender.id})}">
                                <button type="submit" class="btn btn-primary" name="button">Завершить закупку
                            </button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="card-title">Поступившие заявки: <span th:text="${count}"/></div>
                <div class="card-text">
                    <table class="participants table table-bordered table-striped">
                        <tbody>
                        <tr th:if="${!tender.priceVisibility.contentEquals('notRanksAndPrices')}">
                            <th>Участники:</th>
                            <th>Цена</th>
                        </tr>
                        <tbody>
                        <tr th:if="${!tender.priceVisibility.contentEquals('notRanksAndPrices')}"
                            th:each="applicationTender: ${applications}">
                            <td>
                                <span>Участник
                                    <span th:if="${#authentication.principal.organization.id == applicationTender.organizationApplication.id}">
                                        <span>(</span>
                                        <span th:text="${applicationTender.organizationApplication.shortName}"/>
                                         <span>)</span>
                                    </span>
                                </span>
                            </td>
                            <td>
                                <div  th:if="${tender.priceVisibility.contentEquals('prices')}">
                                    <span th:text="${applicationTender.totalCost}"/>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:if="${!tender.status && !tender.statusWithoutWinner}">
            <form th:method="get"
                  action="#"
                  th:action="@{'/victory/{tenderId}'(tenderId=${tender.id})}">
                <h5>Тендер завершен</h5>
                <button type="submit" class="btn btn-primary" name="button"> Итоги организатора</button>
            </form>
        </div>
        <div  th:unless="${tender.status}"></div>
    </div>
</div>
<div th:insert="fragments/footer.html :: footer"/>
</body>
</html>
