<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
  <title>Tender</title>
  <meta charset="UTF-8">

</head>
<body>
<div th:insert="fragments/header.html :: header"/>
<div class="row m-4">
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Организатор выбрал победителя</h5>
        <span th:text="${victory.victoryOrganization.shortName}"/>
      </div>
    </div>
  </div>
</div>
<div th:insert="fragments/footer.html :: footer"/>
</body>
</html>


